.header {
    grid-area: hd;
    overflow: hidden;
}

.title {
    background-image: url("cat.jpg");
    background-size: cover;
    background-position: 10% 50%;
    overflow: hidden;
    width: 100%;
    font-size: 2em;
    text-align: start;
    color: #363638;
    padding-left: 10%;
}

.homepage {
    color: #363638;
    text-decoration: none;
}

a:hover {
    color: #E49203;
}

nav {
    grid-area: menu;
}

ul.header-menu {
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: auto;
    flex-basis: auto;
    list-style: none;
    padding: 0.5em;
    border-top: solid #363638;
    border-bottom: solid #363638;
}

.link {
    margin: 10px;
    color: #363638;
    text-decoration: none;
}